<section class="profile-wrap">
    <h1 id="ment"></h1>
    <div class="profile-box">
        <img src="https://avatars.githubusercontent.com/u/50618754?v=4" alt="">
        <div class="profile-info">
            <div class="title">
                <p class="twinkle">✨</p>
                <a href="https://github.com/{{ _author.github }}" class="name blink">@Hyoeun(ye-yo)</a>
            </div>
            <p class="desc">FE Developer</p>
            <p class="link">
                <a class="button button--circle"  href="mailto:{{ _author.email }}" target="_blank">
                    <i class="fas fa-envelope"></i>
                </a>
                <a class="button button--circle" href="https://github.com/{{ _author.github }}" target="_blank">
                    <span>{%- include svg/icon/social/github.svg -%}</span>
                </a>
            </p>
        </div>
    </div>
</section>