.article__info{
    margin-top: 4px;
}

.button--secondary {
    font-weight: 500;
    @include clickable($text-color, $main-color-4);
}

.modal {
    background-color: #2b2c30ed;
}

.search-result__item.active a{
    border-radius: 6rem;
}

.navigation__item--active a{
    font-weight: bold;
}

.navigation__item--active::after{
    border-bottom-width: 2px;
}

.root[data-is-touch="false"] a:hover, .root[data-is-touch="false"] a > .item__header:hover, .root[data-is-touch="false"] a.item__header:hover, .root[data-is-touch="false"] .item__header > a:hover{
    text-decoration: none;
}

.item__category{
    color: $main-color-1;
}

.item__description > .article__content{
    color: $text-color-sub;
}

.article__header--cover{
    max-height: 400px;
    object-fit: cover;
}

.article__header--cover.top{
    object-position: top;
}

.article__header--cover.bottom{
    object-position: bottom;
}

.relatedPosts{
    padding-bottom:1rem;
}

.related-post-box{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}


.related-post-box > a{
    height: 200px;
    min-height: 200px;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.162);
    transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title{
        word-break: keep-all;
    }
}

.related-post-box .cover{
    max-height: 100px;
    width: 100%;
    object-fit: cover;
}

.card-bottom{
    font-size: .7em;
    color:$text-color-sub;
}

.card-bottom .tags{
    margin: 0;
}

.card-bottom .date{
    bottom:0;
    margin-top: auto;
}

.toc-aside.toc-to-top{
    i{
        cursor: pointer;
        width: 38px;
        height:38px;
        border-radius: 50%;
        text-align: center;
        font-size: 26px;
        color:white;
        padding: 6px;
        background-color: $main-color-4;
    }
    padding-top: 0;
}

.page-count{
    position: absolute;
    top: -2rem;
    font-size: 14px;
}

code{
    font-size: .8em;
}

.article__content code.language-plaintext.highlighter-rouge{
    background-color: $main-color-4;
    color: $text-color-3;
}

.search-result{
    font-size: 1.2rem;

    > ul > li{
        margin-bottom: 1rem;
        padding: 6px;
        > a{
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.search--dark .search-result__item.active a, .search--dark .search-result__item.active a:link, .search--dark .search-result__item.active a:visited{
    position: relative;
    color:white;
    background-color: unset;

}

.search--dark .search-result__item a::after{
    content: '';
    display: block;
    width: 0;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0px;
    background: rgba(200, 125, 220, .6);
}

.root[data-is-touch="false"] .search--dark .search-result__item a:hover{
    color: white;
    background-color: unset;
}
.root[data-is-touch="false"] .search--dark .search-result__item a:hover::after, .search-result__item.active > a::after{
    width: 100%;
    transition: width .3s;
}

/* profile */

.profile-box{
    display: flex;
    width: 100%;
    > img{
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }
}

.profile-info{
    flex: 1;
    line-height: 1.2;
    p { margin: 4px 0;}
    .title{
        border-radius: 8px;
        color:$main-color-1;
        background-color: #f6f3f7b0;
        font-weight: 600;
        padding: 2px 4px;
        width: fit-content;
        > p{
            display: inline-block;
        }
    }
    .name{
        opacity: 0;
    }
    .desc {
        color: #888;
        font-size: .8em;
        margin-left: 4px;
    }
    .link{
        a { 
            vertical-align: middle;
            padding: 2px; 
            color: $text-color-1;
        }
        .fa-envelope{
            font-size: 16px;
        }
        span{
            display: inline-block;
            line-height: 1;
        }
    }
}

@keyframes twinkle{
    from {
        transform:rotate(-25deg);
    }
    to {
        transform:rotate(25deg);
    }
}

@keyframes blink{
    from {
        opacity: .1;
    }
    to {
        opacity: 1;
    }
}

.twinkle{
    animation: twinkle .4s infinite ease-in-out alternate;
}

.blink{
    animation: blink 1s ease-in-out forwards;
}

.item__description > .article__content::first-line{
    font-size: 1.2em;
    color: $text-color-l;
}

.js-article-content{
    position: relative;
}

.layout--articles{
    margin-top: 4rem;
}

.article__content h1{
    margin-top: 4rem;
}

.article__content h2{
    margin-top: 2.4rem;
}