.article__info{
    margin-top: 4px;
}

.button--secondary {
    font-weight: 500;
    @include clickable($text-color, $main-color-4);
}

.modal {
    background-color: #2b2c30ed;
}

.search-result__item.active a{
    border-radius: 6rem;
}

.navigation__item--active a{
    font-weight: bold;
}

.navigation__item--active::after{
    border-bottom-width: 2px;
}

.root[data-is-touch="false"] a:hover, .root[data-is-touch="false"] a > .item__header:hover, .root[data-is-touch="false"] a.item__header:hover, .root[data-is-touch="false"] .item__header > a:hover{
    text-decoration: none;
}

.item__category{
    color: $main-color-1;
}

.item__description > .article__content{
    color: $text-color-sub;
}

.article__header--cover{
    max-height: 400px;
    object-fit: cover;
}

.article__header--cover.top{
    object-position: top;
}

.article__header--cover.bottom{
    object-position: bottom;
}

.relatedPosts{
    padding-bottom:1rem;
}

.related-post-box{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}


.related-post-box > a{
    height: 200px;
    min-height: 200px;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.162);
    transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title{
        word-break: keep-all;
    }
}

.related-post-box .cover{
    max-height: 100px;
    width: 100%;
    object-fit: cover;
}

.card-bottom{
    font-size: .7em;
    color:$text-color-sub;
}

.card-bottom .tags{
    margin: 0;
}

.card-bottom .date{
    bottom:0;
    margin-top: auto;
}

.toc-aside.toc-to-top{
    i{
        cursor: pointer;
        width: fit-content;
        height:fit-content;
        border-radius: 50%;
        text-align: center;
        font-size: 26px;
        color:white;
        padding: 6px;
        background-color: $main-color-4;
    }
    padding-top: 0;
}

.page-count{
    position: absolute;
    top: 100px;
    font-size: 14px;
}

code{
    font-size: .8em;
}

.article__content code.language-plaintext.highlighter-rouge{
    background-color: $main-color-4;
    color: $text-color-3;
}

.search-result{
    font-size: 1.2rem;

    > ul > li{
        margin-bottom: 1rem;
        padding: 6px;
        > a{
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.search--dark .search-result__item.active a, .search--dark .search-result__item.active a:link, .search--dark .search-result__item.active a:visited{
    position: relative;
    color:white;
    background-color: unset;
}

.search--dark .search-result__item a::after{
    content: '';
    display: block;
    width: 0;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0px;
    background: rgba(200, 125, 220, .6);
}

.root[data-is-touch="false"] .search--dark .search-result__item a:hover{
    color: white;
    background-color: unset;
}
.root[data-is-touch="false"] .search--dark .search-result__item a:hover::after{
    width: 100%;
    transition: width .3s;
}
