///
// Skin: Forest
// Author: Tian Qi
// Email: kitian616@outlook.com
///

// main colors
$main-color-1:     #bf90eb;
$text-color-1:     #313948;

$main-color-2:     #84aff3;
$text-color-2:     #fff;

$main-color-3:     #fefefe;
$text-color-3:     rgb(94, 80, 201);

$main-color-4:     rgba(229, 225, 255, 0.694);

$main-color-theme-light: rgba(#000, .9);
$main-color-theme-dark:  rgba(#fff, .9);

// page background
$background-color: #fefefe;

// text colors
$text-color-theme-light-d: #313948;
$text-color-theme-light:   #555a65;
$text-color-theme-sub:   #97a0b0;
$text-color-theme-light-l: #808690;

$text-color-theme-dark-d:  #fff;
$text-color-theme-dark:    rgba(#fff, .95);
$text-color-theme-dark-l:  rgba(#fff, .85);

$text-color-d:     $text-color-theme-light-d;
$text-color:       $text-color-theme-light;
$text-color-l:     $text-color-theme-light-l;
$text-color-sub:     $text-color-theme-sub;

$text-background-color: rgba(#000, .05);

// header and footer colors
$header-text-color: $text-color-3;
$header-background: $main-color-3;

$footer-text-color: $text-color-3;
$footer-background: $main-color-3;

// border and shadow colors
$border-color:     $main-color-1;
$border-color-l:   mix(#000, $background-color, 10%);
$decorate-color:   rgba(#bb6170, .15);
$mask-color:       rgba(#000, .9);
$select-color:     rgba($main-color-1, .5);

// function colors
$green:           #52c41a;
$blue:            #1890ff;
$yellow:          #fa8c16;
$red:             #f5222d;
$text-color-function: #fff;

// logo colors
$mail-color:       #ffffffff;
$facebook-color:   #4267b2;
$twitter-color:    #1da1f2;
$weibo-color:      #e6162d;
$google-plus-color:#ea4335;
$telegram-color:   #32afed;
$medium-color:     #ffffffff;
$zhihu-color:      #0084ff;
$douban-color:     #42bd56;
$linkedin-color:   #1074af;
$github-color:     #ffffffff;
$npm-color:        #fff;

